<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Конструктор календаря</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
        @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
        @import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
        @import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        @page {
            margin: 0;
            size: landscape;
        }

        @media print {
            .noprint {
                display: none;
            }
        }

        html,
        body {
            background-color: #2C254A;
            margin: 0;
            padding: 0;
            font-family: 'poppins', sans-serif;
            justify-content: center;
            align-items: center;
        }

        .content {
            width: 297mm;
            height: 210mm;
            padding: 20px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .flex-container {
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: nowrap;
            background-color: #2C254A;
            height: 100%;
            padding: 0;
            gap: 5px;

        }

        .flex-container > div {
            background: #3b3363;
            border: 1px solid #473F72;
            border-radius: 5px;
            padding: 8px;
        }

        .flex-container .item2 {
            background-color: #fff;
            flex-grow: 3;
        }

        .flex-container .item1, .flex-container .item3 {
            width: 297px;
            flex-grow: 2;
        }

        .cwrap-container {
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
            padding: 0;

        }
        .cwrap-container > div {
            background: #fff;
            border: none;
        }

        .cwrap-container .cwrap-item2 {
            width: 187mm;
        }

        .cwrap-container .cwrap-item1 {
            padding: 0 10px 0 0 ;
        }
        .cwrap-container .cwrap-item3 {
            padding: 0 0 0 10px;
        }
        .cwrap-container .cwrap-item1, .cwrap-container .cwrap-item3 {
            width: 55mm;
        }

        .month {
            margin-bottom: 10px;
        }

        .month-name {
            color: #282828;
            font-weight: bold;
            text-align: center;
            font-size: 14px;
        }

        .month-grid {
            display: flex;
        }

        .it {
            flex: 1;
            text-align: center;
            margin: 0.5px 0;
        }

        .weekNumber {
            font-size: 9px;
        }

        .daysName {
            font-size: 10px;
            font-weight: bold;
        }

        .daysNumber {
            font-size: 11px;
        }

        .daysNumber span {
            padding: 2px 0;
            width: 19px;
            display: inline-block;
        }

        .pr {
            background: #22244d;
            color: #fff;
            border-radius: 50%;
        }

        .prd {
            background: #b0b2cd;
            color: #000;
            border-radius: 50%;
        }

        .vh {
            background: #3a4092;
            color: #fff;
            border-radius: 50%;
        }

        .tabel-head {
            font-weight: bold
        }

        .tabel-head td {
            padding: 6px 1px;
            border-left: solid 1px #000;
        }

        .vlr {
            padding: 0;
            writing-mode: vertical-lr;
            color: #1e205e;
            text-align: right;
            font-size: 16pt;
            font-family: 'Old Standard TT', serif;
        }

        .rowTabel {
            padding: 0 1px;
            font-size: 14px;
            color: #1e205e;
            border-top: 1px solid #000;
            border-right: 1px solid #000;
        }

        .fs-10 {
            font-size: 10px !important;
            line-height: 1.4;
        }

        .fs-13 {
            font-size: 13px !important;
            line-height: 1.4;
        }

        .fs-14 {
            font-size: 14px !important;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<h1 class="noprint" style="text-align: center; color: #fff;padding: 15px;">Конструктор календарей <sup
        style="font-size: 12px">ver. 0.1
        betta</sup></h1>
<div class="flex-container ">
    <div class="item1 noprint"></div>
    <div class="item2 content" id="printableArea">
        <div class="cwrap-container">
            <div class="cwrap-item1">
                <div class="month">
                    <div class="month-name">
                        Январь
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">1</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span class="pr">1</span></div>
                        <div class="it daysNumber"><span class="pr">2</span></div>
                        <div class="it daysNumber"><span class="pr">3</span></div>
                        <div class="it daysNumber"><span class="vh">4</span></div>
                        <div class="it daysNumber"><span class="vh">5</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">2</div>
                        <div class="it daysNumber"><span class="pr">6</span></div>
                        <div class="it daysNumber"><span class="pr">7</span></div>
                        <div class="it daysNumber"><span class="pr">8</span></div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span class="vh">11</span></div>
                        <div class="it daysNumber"><span class="vh">12</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">3</div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span class="vh">18</span></div>
                        <div class="it daysNumber"><span class="vh">19</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">4</div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span class="vh">25</span></div>
                        <div class="it daysNumber"><span class="vh">26</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">5</div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span>31</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Февраль
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">5</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span class="vh">1</span></div>
                        <div class="it daysNumber"><span class="vh">2</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">6</div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span class="vh">8</span></div>
                        <div class="it daysNumber"><span class="vh">9</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">7</div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span class="vh">15</span></div>
                        <div class="it daysNumber"><span class="vh">16</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">8</div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span class="vh">22</span></div>
                        <div class="it daysNumber"><span class="vh">23</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">9</div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Март
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">9</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span class="vh">1</span></div>
                        <div class="it daysNumber"><span class="vh">2</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">10</div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span class="prd">7</span></div>
                        <div class="it daysNumber"><span class="vh">8</span></div>
                        <div class="it daysNumber"><span class="vh">9</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">11</div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span class="vh">15</span></div>
                        <div class="it daysNumber"><span class="vh">16</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">12</div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span class="vh">22</span></div>
                        <div class="it daysNumber"><span class="vh">23</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">13</div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span class="vh">29</span></div>
                        <div class="it daysNumber"><span class="vh">30</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">14</div>
                        <div class="it daysNumber"><span>31</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Апрель
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">14</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span>1</span></div>
                        <div class="it daysNumber"><span>2</span></div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span class="vh">5</span></div>
                        <div class="it daysNumber"><span class="vh">6</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">15</div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span>8</span></div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span class="vh">12</span></div>
                        <div class="it daysNumber"><span class="vh">13</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">16</div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span class="vh">19</span></div>
                        <div class="it daysNumber"><span class="vh">20</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">17</div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span class="vh">26</span></div>
                        <div class="it daysNumber"><span class="vh">27</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">18</div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span class="prd">30</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Май
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">18</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span class="pr">1</span></div>
                        <div class="it daysNumber"><span class="pr">2</span></div>
                        <div class="it daysNumber"><span class="vh">3</span></div>
                        <div class="it daysNumber"><span class="vh">4</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">19</div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span class="pr">8</span></div>
                        <div class="it daysNumber"><span class="pr">9</span></div>
                        <div class="it daysNumber"><span class="vh">10</span></div>
                        <div class="it daysNumber"><span class="vh">11</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">20</div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span class="vh">17</span></div>
                        <div class="it daysNumber"><span class="vh">18</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">21</div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span class="vh">24</span></div>
                        <div class="it daysNumber"><span class="vh">25</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">22</div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span class="vh">31</span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Июнь
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">22</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span class="vh">1</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">23</div>
                        <div class="it daysNumber"><span>2</span></div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span class="vh">7</span></div>
                        <div class="it daysNumber"><span class="vh">8</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">24</div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span class="prd">11</span></div>
                        <div class="it daysNumber"><span class="pr">12</span></div>
                        <div class="it daysNumber"><span class="pr">13</span></div>
                        <div class="it daysNumber"><span class="vh">14</span></div>
                        <div class="it daysNumber"><span class="vh">15</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">25</div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span class="vh">21</span></div>
                        <div class="it daysNumber"><span class="vh">22</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">26</div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span class="vh">28</span></div>
                        <div class="it daysNumber"><span class="vh">29</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">27</div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
            </div>
            <div class="cwrap-item2" style="text-align: center">
                <img alt="" style="width: 177mm" src="{{ url('/images/tools/calendar/herb.jpg') }}">
                <table style="width: 100%; border: solid 1px #000; border-collapse: collapse;">
                    <tr class="tabel-head">
                        <td>
                            <h1 style="text-align:left;font-family: 'Old Standard TT', serif;">
                                <span style="font-size: 23pt;color: #1e205e">ТАБЕЛЬ-</span><br>
                                <span style="font-size: 23pt;color: #1e205e">календарь</span><br>
                                <span style="font-size: 35pt;color: #3a4092">2025</span>
                            </h1>
                        </td>
                        <td class="vlr">январь</td>
                        <td class="vlr">февраль</td>
                        <td class="vlr">март</td>
                        <td class="vlr" style="background: #f7fac3;">I квартал</td>
                        <td class="vlr">апрель</td>
                        <td class="vlr">май</td>
                        <td class="vlr">июнь</td>
                        <td class="vlr" style="background: #f7fac3;">II квартал</td>
                        <td class="vlr" style="background: #5f8fff;">I полугодие</td>
                        <td class="vlr">июль</td>
                        <td class="vlr">август</td>
                        <td class="vlr">сентябрь</td>
                        <td class="vlr" style="background: #f7fac3;">III квартал</td>
                        <td class="vlr">октябрь</td>
                        <td class="vlr">ноябрь</td>
                        <td class="vlr">декабрь</td>
                        <td class="vlr" style="background: #f7fac3;">IV квартал</td>
                        <td class="vlr" style="background: #5f8fff;">II полугодие</td>
                        <td class="vlr" style="background: #ff6332;">год</td>
                    </tr>
                    <tr>
                        <td class="rowTabel">всего дней</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel">28</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel" style="background: #f7fac3;">90</td>
                        <td class="rowTabel">30</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel">30</td>
                        <td class="rowTabel" style="background: #f7fac3;">91</td>
                        <td class="rowTabel" style="background: #5f8fff;">181</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel">30</td>
                        <td class="rowTabel" style="background: #f7fac3;">92</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel">30</td>
                        <td class="rowTabel">31</td>
                        <td class="rowTabel" style="background: #f7fac3;">92</td>
                        <td class="rowTabel" style="background: #5f8fff;">184</td>
                        <td class="rowTabel" style="background: #ff6332;">365</td>
                    </tr>
                    <tr>
                        <td class="rowTabel">рабочие дни</td>
                        <td class="rowTabel">17</td>
                        <td class="rowTabel">20</td>
                        <td class="rowTabel">21</td>
                        <td class="rowTabel" style="background: #f7fac3;">58</td>
                        <td class="rowTabel">22</td>
                        <td class="rowTabel">18</td>
                        <td class="rowTabel">19</td>
                        <td class="rowTabel" style="background: #f7fac3;">59</td>
                        <td class="rowTabel" style="background: #5f8fff;">117</td>
                        <td class="rowTabel">23</td>
                        <td class="rowTabel">21</td>
                        <td class="rowTabel">22</td>
                        <td class="rowTabel" style="background: #f7fac3;">66</td>
                        <td class="rowTabel">23</td>
                        <td class="rowTabel">19</td>
                        <td class="rowTabel">22</td>
                        <td class="rowTabel" style="background: #f7fac3;">64</td>
                        <td class="rowTabel" style="background: #5f8fff;">130</td>
                        <td class="rowTabel" style="background: #ff6332;">247</td>
                    </tr>
                    <tr>
                        <td class="rowTabel">выходные дни</td>
                        <td class="rowTabel">14</td>
                        <td class="rowTabel">8</td>
                        <td class="rowTabel">10</td>
                        <td class="rowTabel" style="background: #f7fac3;">32</td>
                        <td class="rowTabel">8</td>
                        <td class="rowTabel">13</td>
                        <td class="rowTabel">11</td>
                        <td class="rowTabel" style="background: #f7fac3;">32</td>
                        <td class="rowTabel" style="background: #5f8fff;">64</td>
                        <td class="rowTabel">8</td>
                        <td class="rowTabel">10</td>
                        <td class="rowTabel">8</td>
                        <td class="rowTabel" style="background: #f7fac3;">26</td>
                        <td class="rowTabel">8</td>
                        <td class="rowTabel">11</td>
                        <td class="rowTabel">9</td>
                        <td class="rowTabel" style="background: #f7fac3;">28</td>
                        <td class="rowTabel" style="background: #5f8fff;">54</td>
                        <td class="rowTabel" style="background: #ff6332;">118</td>
                    </tr>
                    <tr>
                        <td class="rowTabel" style="font-size: 10px">Рабочее время при 40-ч р.н.</td>
                        <td class="rowTabel">136</td>
                        <td class="rowTabel">160</td>
                        <td class="rowTabel">167</td>
                        <td class="rowTabel" style="background: #f7fac3;">463</td>
                        <td class="rowTabel">175</td>
                        <td class="rowTabel">144</td>
                        <td class="rowTabel">151</td>
                        <td class="rowTabel" style="background: #f7fac3;">470</td>
                        <td class="rowTabel" style="background: #5f8fff;">933</td>
                        <td class="rowTabel">184</td>
                        <td class="rowTabel">168</td>
                        <td class="rowTabel">176</td>
                        <td class="rowTabel" style="background: #f7fac3;">528</td>
                        <td class="rowTabel">184</td>
                        <td class="rowTabel">151</td>
                        <td class="rowTabel">176</td>
                        <td class="rowTabel" style="background: #f7fac3;">511</td>
                        <td class="rowTabel fs-14" style="background: #5f8fff;">1039</td>
                        <td class="rowTabel fs-14" style="background: #ff6332;">1972</td>
                    </tr>
                    <tr>
                        <td class="rowTabel" style="font-size: 10px">Рабочее время при 36-ч р.н.</td>
                        <td class="rowTabel fs-10">122.4</td>
                        <td class="rowTabel fs-10">144</td>
                        <td class="rowTabel fs-10">150.2</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">416.6</td>
                        <td class="rowTabel fs-10">157.4</td>
                        <td class="rowTabel fs-10">129.6</td>
                        <td class="rowTabel fs-10">135.8</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">422.8</td>
                        <td class="rowTabel fs-10" style="background: #5f8fff;">839.4</td>
                        <td class="rowTabel fs-10">165.6</td>
                        <td class="rowTabel fs-10">151.2</td>
                        <td class="rowTabel fs-10">158.4</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">475.2</td>
                        <td class="rowTabel fs-10">165.6</td>
                        <td class="rowTabel fs-10">135.8</td>
                        <td class="rowTabel fs-10">158.4</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">459.8</td>
                        <td class="rowTabel fs-10" style="background: #5f8fff;">935</td>
                        <td class="rowTabel fs-10" style="background: #ff6332;">1774.4</td>
                    </tr>
                    <tr>
                        <td class="rowTabel" style="font-size: 10px">Рабочее время при 24-ч р.н.</td>
                        <td class="rowTabel fs-10">81.6</td>
                        <td class="rowTabel fs-10">96</td>
                        <td class="rowTabel fs-10">99.8</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">277.4</td>
                        <td class="rowTabel fs-10">104.6</td>
                        <td class="rowTabel fs-10">86.4</td>
                        <td class="rowTabel fs-10">90.2</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">281.2</td>
                        <td class="rowTabel fs-10" style="background: #5f8fff;">558.6</td>
                        <td class="rowTabel fs-10">110.4</td>
                        <td class="rowTabel fs-10">100.8</td>
                        <td class="rowTabel fs-10">105.6</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">316.8</td>
                        <td class="rowTabel fs-10">110.4</td>
                        <td class="rowTabel fs-10">90.2</td>
                        <td class="rowTabel fs-10">105.6</td>
                        <td class="rowTabel fs-10" style="background: #f7fac3;">306.2</td>
                        <td class="rowTabel fs-10" style="background: #5f8fff;">623</td>
                        <td class="rowTabel fs-10" style="background: #ff6332;">1181.6</td>
                    </tr>
                </table>
                <table class="fs-13" style="text-align:left; width: 100%; border: none; border-collapse: collapse;">
                    <tr>
                        <td>Нерабочие праздничные дни в Российской Федерации:</td>
                        <td>Перенос праздничных дней:</td>
                    </tr>
                    <tr>
                        <td>
                            <table style="text-align:left; width: 100%; border: none; border-collapse: collapse;">
                                <tr>
                                    <td>
                                        1,2,3,4,5,6 и 8 января - Новый год<br>
                                        7 января - Рождество Христово<br>
                                        23 февраля - День защитника Отечества<br>
                                        8 марта - Международный женский день
                                    </td>
                                    <td>
                                        1 мая - Праздник весны и труда<br>
                                        9 мая - День Победы<br>
                                        12 июня - День России<br>
                                        4 ноября - День народного единства
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="fs-10">
                            4 января (суббота) - 2 мая (пятница)<br>
                            5 января (воскресенье) - 31 декабря (среда)<br>
                            23 февраля (воскресенье) - 8 мая (четверг)<br>
                            8 марта (суббота) - 13 июня (пятница)<br>
                            1 ноября (суббота) - 3 ноября (понедельник)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cwrap-item3">
                <div class="month">
                    <div class="month-name">
                        Июль
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">27</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span>1</span></div>
                        <div class="it daysNumber"><span>2</span></div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span class="vh">5</span></div>
                        <div class="it daysNumber"><span class="vh">6</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">28</div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span>8</span></div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span class="vh">12</span></div>
                        <div class="it daysNumber"><span class="vh">13</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">29</div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span class="vh">19</span></div>
                        <div class="it daysNumber"><span class="vh">20</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">30</div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span class="vh">26</span></div>
                        <div class="it daysNumber"><span class="vh">27</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">31</div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span>31</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Август
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">31</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span>1</span></div>
                        <div class="it daysNumber"><span class="vh">2</span></div>
                        <div class="it daysNumber"><span class="vh">3</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">32</div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span>8</span></div>
                        <div class="it daysNumber"><span class="vh">9</span></div>
                        <div class="it daysNumber"><span class="vh">10</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">33</div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span class="vh">16</span></div>
                        <div class="it daysNumber"><span class="vh">17</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">34</div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span class="vh">23</span></div>
                        <div class="it daysNumber"><span class="vh">24</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">35</div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span class="vh">30</span></div>
                        <div class="it daysNumber"><span class="vh">31</span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Сентябрь
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">36</div>
                        <div class="it daysNumber"><span>1</span></div>
                        <div class="it daysNumber"><span>2</span></div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span class="vh">6</span></div>
                        <div class="it daysNumber"><span class="vh">7</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">37</div>
                        <div class="it daysNumber"><span>8</span></div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span class="vh">13</span></div>
                        <div class="it daysNumber"><span class="vh">14</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">38</div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span class="vh">20</span></div>
                        <div class="it daysNumber"><span class="vh">21</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">39</div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span class="vh">27</span></div>
                        <div class="it daysNumber"><span class="vh">28</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">40</div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Октябрь
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">40</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span>1</span></div>
                        <div class="it daysNumber"><span>2</span></div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span class="vh">4</span></div>
                        <div class="it daysNumber"><span class="vh">5</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">41</div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span>8</span></div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span class="vh">11</span></div>
                        <div class="it daysNumber"><span class="vh">12</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">42</div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span class="vh">18</span></div>
                        <div class="it daysNumber"><span class="vh">19</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">43</div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span class="vh">25</span></div>
                        <div class="it daysNumber"><span class="vh">26</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">44</div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span>31</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Ноябрь
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">44</div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span class="prd">1</span></div>
                        <div class="it daysNumber"><span class="vh">2</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">45</div>
                        <div class="it daysNumber"><span class="pr">3</span></div>
                        <div class="it daysNumber"><span class="pr">4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span>6</span></div>
                        <div class="it daysNumber"><span>7</span></div>
                        <div class="it daysNumber"><span class="vh">8</span></div>
                        <div class="it daysNumber"><span class="vh">9</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">46</div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span>13</span></div>
                        <div class="it daysNumber"><span>14</span></div>
                        <div class="it daysNumber"><span class="vh">15</span></div>
                        <div class="it daysNumber"><span class="vh">16</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">47</div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span>20</span></div>
                        <div class="it daysNumber"><span>21</span></div>
                        <div class="it daysNumber"><span class="vh">22</span></div>
                        <div class="it daysNumber"><span class="vh">23</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">48</div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span>27</span></div>
                        <div class="it daysNumber"><span>28</span></div>
                        <div class="it daysNumber"><span class="vh">29</span></div>
                        <div class="it daysNumber"><span class="vh">30</span></div>
                    </div>
                </div>
                <div class="month">
                    <div class="month-name">
                        Декабрь
                    </div>
                    <div class="month-grid" style="margin: 0 0 3px 0">
                        <div class="it daysName">&nbsp;</div>
                        <div class="it daysName">Пн</div>
                        <div class="it daysName">Вт</div>
                        <div class="it daysName">Ср</div>
                        <div class="it daysName">Чт</div>
                        <div class="it daysName">Пт</div>
                        <div class="it daysName">Сб</div>
                        <div class="it daysName">Вс</div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">49</div>
                        <div class="it daysNumber"><span>1</span></div>
                        <div class="it daysNumber"><span>2</span></div>
                        <div class="it daysNumber"><span>3</span></div>
                        <div class="it daysNumber"><span>4</span></div>
                        <div class="it daysNumber"><span>5</span></div>
                        <div class="it daysNumber"><span class="vh">6</span></div>
                        <div class="it daysNumber"><span class="vh">7</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">50</div>
                        <div class="it daysNumber"><span>8</span></div>
                        <div class="it daysNumber"><span>9</span></div>
                        <div class="it daysNumber"><span>10</span></div>
                        <div class="it daysNumber"><span>11</span></div>
                        <div class="it daysNumber"><span>12</span></div>
                        <div class="it daysNumber"><span class="vh">13</span></div>
                        <div class="it daysNumber"><span class="vh">14</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">51</div>
                        <div class="it daysNumber"><span>15</span></div>
                        <div class="it daysNumber"><span>16</span></div>
                        <div class="it daysNumber"><span>17</span></div>
                        <div class="it daysNumber"><span>18</span></div>
                        <div class="it daysNumber"><span>19</span></div>
                        <div class="it daysNumber"><span class="vh">20</span></div>
                        <div class="it daysNumber"><span class="vh">21</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">52</div>
                        <div class="it daysNumber"><span>22</span></div>
                        <div class="it daysNumber"><span>23</span></div>
                        <div class="it daysNumber"><span>24</span></div>
                        <div class="it daysNumber"><span>25</span></div>
                        <div class="it daysNumber"><span>26</span></div>
                        <div class="it daysNumber"><span class="vh">27</span></div>
                        <div class="it daysNumber"><span class="vh">28</span></div>
                    </div>
                    <div class="month-grid">
                        <div class="it weekNumber">53</div>
                        <div class="it daysNumber"><span>29</span></div>
                        <div class="it daysNumber"><span>30</span></div>
                        <div class="it daysNumber"><span class="pr">31</span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                        <div class="it daysNumber"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item3 noprint"></div>
</div>
</body>
</html>

